.content-heading {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1.1;
    color: #929292;
    margin: -15px 0px 20px -15px ;
    padding: 15px;
    font-weight: 400;
    background-color: #fafbfc;
    border-bottom: 1px solid #cfdbe2;
}

table {
    width: 100%;
}

.mat-header-cell{
    font-weight: bold;
}