<h3>Détail produit</h3>
<div mat-dialog-content>
    <form [formGroup]="productForm">
        <mat-form-field class="full-width mb8p">
            <input matInput placeholder="Nom produit" formControlName="name">
            <mat-error *ngIf="name.invalid && name.errors.required">Le nom est obligatoire</mat-error>
        </mat-form-field>       
        <mat-form-field class="full-width mb8p">
            <input matInput placeholder="Prix(€)" formControlName="price">
            <mat-error *ngIf="price.invalid && price.errors.required">Le prix est obligatoire</mat-error>
            <mat-error *ngIf="price.invalid && price.errors.invalidFloat">Ce champ doit être un décimal</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width mb8p">
            <input matInput placeholder="Qauntité en stock" formControlName="inStock">
            <mat-error *ngIf="inStock.invalid && inStock.errors.required">Le quantité en stock est obligatoire</mat-error>
            <mat-error *ngIf="inStock.invalid && inStock.errors.invalidInt">Ce Champ doit être un nombre entier</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width mb8p">
            <input matInput placeholder="Quantité en commande" formControlName="onOrder">
            <mat-error *ngIf="onOrder.invalid && onOrder.errors.required">Le quantité en commande est obligatoire</mat-error>
            <mat-error *ngIf="onOrder.invalid && onOrder.errors.invalidInt">Ce champ doit être un nombre entier</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions class="actions">
  <button mat-button (click)="close()">Annuler</button>
  <button 
    mat-button
    [mat-dialog-close]="newProduct"
    cdkFocusInitial
    [disabled]="!productForm.valid">
    Enregistrer
</button>
</div>